[v-cloak] {
  display: none;
}

.grid.lighted >.line-group > .line {
    background: -webkit-linear-gradient(top, rgba(244, 198, 0, 1) , rgba(255, 219, 62,1), rgba(244, 198, 0,1) );
}

.grid.lighted > .icon-light, .grid.lighted > .icon-power{
	border-color: #f4c600;

}
html {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
	font-size: 20px;
}

body{
	width: 100%;
	height: 100%;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none; 
}

.only-vertical-align {
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

#container {
	width: 100%;
	height: 100%;
	display: -webkit-flex; /* Safari */
  	display: flex;
  	flex-direction: column;
}

html, body,span, ul, li, p {
	padding: 0;
	margin: 0;
}
ul, li {
	list-style: none;
}

footer, header {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	padding: 1rem 1.4rem;
}
header {
	position: relative;
	align-self: flex-start;
	height: 20%;
}
footer {
	height: 15%;
	align-self: flex-end;
}
section {
	align-item: flex-center;
	height: 100%;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.grid-list {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.grid {
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 4rem;
	height: 4rem;
	float: left;
	box-sizing: border-box;
	border-top: 1px solid #aaa;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.icon-light-grid {
	position: absolute;
	box-sizing: border-box;
	-webkir-box-sizing: border-box;
	left: 1rem;
	top: 1rem;
	z-index: 3;
	border: 2px solid #ccc;
	text-align: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	font-size: 1.3rem;
	background-color: #fff;

}

.icon-light-grid.lighten{
	border-color: #f4c600;

}
.icon-light-grid.lighten:before { color: #f4c600;}

.icon-battery-grid {
	position: absolute;
	border: 2px solid #ccc;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	padding-top: .2rem;
	box-sizing: border-box;
	z-index: 3;
	height: 2.2rem;
	width: 2.2rem;
	left: 0.9rem;
	top: .9rem;
	background-color: #fff;
	font-size: 1.4rem;
	text-align: center;
}
.icon-battery-grid.lighten {
	color: #f4c600;
	border-color: #f4c600;
}
.line {
    background: -webkit-linear-gradient(#ccc , #ddd, #ccc );
	position: absolute;
	display: inline-block;
	top: 1.8rem;
	width: 2rem;
	height: .4rem;
	background-color: #ccc;
	transform-origin: right;
	/*animation-duration: 1s;
	transition-duration: 1s;
	-webkit-animation-duration: 1s;*/
	-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
}
.only-for-zhuang {
	position: absolute;
	width: .4rem;
	height: .4rem;
	top: 1.8rem;
	left: 1.8rem;
	background-color: #ccc;
}
.line.lighten {
	/*background-color: #f4c600;*/
    background: -webkit-linear-gradient(top, rgba(244, 198, 0, 1) , rgba(255, 219, 62,1), rgba(244, 198, 0,1) );

}
.line-bottom {
	transform: rotate3d(0, 0, 1, -90deg);
}

.line-top {
	transform: rotate3d(0, 0, 1, 90deg);
	
}
.line-left {
	transform: rotate3d(0, 0, 1, 0deg);
}
.line-right{
	transform: rotate3d(0, 0, 1, 180deg);
}


footer .iconfont {
	padding: .7rem;
}

.success-tip {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	/*background-color: #fff;*/
	text-align: center;
	height: 100%;
	/*display: none;*/
}

.dialog {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}

.dialog-backdrop {
	position: absolute;
	background-color: #333;
	opacity: 0.7;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.dialog-content-wapper {
	position: absolute;
	width: 240px;
	left: 60px;
	top: 80px;
	background-color: #fff;
	border-radius: 8px 6px;
}
.dialog-body {
	margin: 10px 12px;
}
.dialog-footer {
	margin: 15px 0;
	text-align: center;
}

.success-tip .backdrop {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.success-tip .content {
	position: relative;
	height: 100%;
	font-weight: bold;
	color: #666;
}